*.xlsx
__pycache__
cascade
actual.jpg
canny.jpg
contour_point_simple.jpg
img.py
img.ipynb
test_white.png
test.png

# Python venv files
bin/*
include/*
lib/*
lib64/*
lib64
share
pyvenv.cfg
Include
lib
Scripts

#ROBOFLOW API KEY
src/api_key.txt

requirements.txt